.preview-pane img {
    max-width: 100%;
}

.preview-pane pre {
    background-color: var(--light-block);
    padding: 0.75rem;

}

.preview-pane blockquote {
    margin-left: 40px;
    border-left: 5px solid var(--background-dark);
    padding: 10px 20px;
    background-color: var(--light-block);
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.preview-pane table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--white);
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.preview-pane th {
    padding: 10px;
    background-color: var(--light-block);
}

.preview-pane td {
    padding: 10px;
    border-bottom: 1px solid var(--light-block);
}

.preview-pane th,
.preview-pane td {
    border-right: 1px solid var(--white);
}

.preview-pane tr:nth-child(even) {
    background-color: var(--light-block);
}

.preview-pane tr:hover {
    background-color: var(--white);
}

.preview-pane {
    padding: 20px;
    max-width: 50%;
    background-color: var(--background-light);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.preview-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.preview-info div {
    font-size: 14px;
    color: var(--text-color-light);
}

.preview-content {
    overflow-y: scroll;
    overflow-x: scroll;
    max-height: 97%;
}

.preview-content p {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Dark theme styles */
.dark.preview-pane * {
    color: var(--text-dark);
}

.dark.preview-pane pre {
    background-color: var(--border-dark);
}

.dark.preview-pane blockquote {
    border-left: 5px solid var(--background-light);
}

.dark.preview-pane blockquote,
.dark.preview-pane table {
    background-color: var(--border-dark);
}

.dark.preview-pane th {
    background-color: var(--background-dark);
    border: 1px solid var(--border-dark);
}

.dark.preview-pane td {
    border: 1px solid var(--border-dark);
}

.dark.preview-pane tr:hover,
.dark.preview-pane tr:nth-child(even) {
    background-color: var(--background-dark);
    border: 1px solid var(--border-dark);
}

.dark.preview-pane {
    background-color: var(--dark-bg);
}

.dark.preview-info div {
    background-color: var(--dark-bg);
}

.dark.preview-content {
    background-color: var(--dark-bg);
}

@media (max-width: 768px) {
    .preview-pane {
        max-width: 100%;
    }
}
