
.editor-sidebar {
  flex: 1;
  /* border-right: 1px solid #ccc; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow instead of border */
  padding: 1rem;
}

.editor-sidebar textarea {
  width: 100%;
  height: 100%;
  font-family: monospace;
  border: none;
  resize: none;
  padding: 1rem;
}
