.toolbar {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for smaller screens */
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: 1px solid #e5e7eb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.toolbar-button {
    margin: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    font-family: inherit; /* Use default font */
}

.toolbar-button:hover {
    background-color: #f5f7fa;
}

.toolbar-button b,
.toolbar-button i {
    margin-right: 3px; /* Adjust spacing for icons */
}

.toolbar-select {
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.insert-modal {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    margin-top: 1%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1; /* Ensure it appears above other elements */
}

.insert-modal label {
    margin-left: 1%;
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
}

.insert-modal input {
    margin-left: 1%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.insert-modal button {
    margin-top: 2.5%;
    max-height: 50%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
