.toolbar {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--background-light);
    border: 1px solid var(--border-light);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.toolbar-button {
    margin: 5px;
    padding: 5px 10px;
    border: none;

    background-color: var(--button-background-light);
    cursor: pointer;
    font-family: inherit;
}

.toolbar-button:hover {
    background-color: var(--hover-light);
}

.toolbar-button b,
.toolbar-button i {
    margin-right: 3px;
}

.toolbar-select {
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--white);
    border-radius: 4px;
}

.toolbar-select:hover {
    cursor: pointer;
}

.search-modal,
.insert-modal {
    display: block;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
    margin-top: 1%;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1;
}

.insert-modal input,
.search-modal input {
    margin-left: 5px;
    padding: 5px 10px;
    border: 1px solid var(--white);
    border-radius: 4px;
    margin-bottom: 10px;
}

.insert-modal button,
.search-modal button {
    max-height: 75%;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.dark.toolbar {
    background-color: var(--background-dark);
    color: var(--text-dark);
    border: 1px solid var(--border-dark);
    box-shadow: 0 1px 3px var(--box-shadow-dark);
}

.dark.toolbar-button {
    background-color: var(--button-background-dark);
    color: var(--text-dark);
}

.dark.toolbar-button:hover {
    background-color: var(--hover-dark);
}

.dark.toolbar-select {
    border: 1px solid var(--border-dark);
}

.dark.search-modal,
.dark.insert-modal {
    background-color: var(--background-dark);
    color: var(--text-dark);
    border: 1px solid var(--border-dark);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dark.search-modal input,
.dark.insert-modal input {
    border: 1px solid var(--border-dark);
    background-color: var(--background-dark);
    color: var(--text-dark);
}
