.entry-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--entry-list-light-bg);
    padding: 2rem;
    box-shadow: 0px 4px 8px var(--box-shadow-light);
    position: absolute;
    top: 50%;
    left: 67.5%;
    transform: translate(-120%, -50%);
    overflow-y: scroll;
    height: 80vh;
    width: 40rem;
    z-index: 8;
}

.entry-list-heading {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-color-light);
}

.entry-title,
.rename-btn {
    /* Ensure both elements have the same height */
    height: 30px;
    /* Adjust the height as needed */
    display: inline-block;
    /* Display them side by side */
    vertical-align: top;
    /* Align their tops */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: var(--white);
}

.entry-title {
    width: 90%;
    height: 30px;
}

.entry-title input,
.entry-title label {
    width: 50%;
    margin-bottom: 20px;
}

.rename-btn {
    width: 9.5%;
    font-size: large;
    border-left: 2px solid #eee;
    cursor: pointer;
}

.entry-search {
    margin-left: 5px;
    padding: 10px 10px;
    border: 1px solid var(--error-bg);
    border-radius: 4px;
    margin-bottom: 10px;
}

.search-heading {
    text-align: center;
}

.entry {
    margin-bottom: -5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    margin-left: 2px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkbox-checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkbox-checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkbox-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkbox-checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.entry-button,
.export-button,
.delete-button {
    padding: 0.5rem 1rem;
    text-align: left;
    text-wrap: wrap;
    border: none;
    cursor: pointer;
    overflow-y: scroll;
    height: 50px;
}

.entry-button {
    flex-grow: 1;
    background-color: var(--white);
}

.entry-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.header-button-container {
    display: flex;
    justify-content: space-between;
}

.header-button-container button {
    width: 48%;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
}

.header-button-container input[type="file"] {
    display: none;
}

.export-button {
    background-color: var(--button-background-export);
    color: var(--white);
}

.export-button:hover {
    background-color: var(--button-hover-export);
}

.delete-button {
    background-color: var(--danger-light);
    color: var(--white);
}

.delete-button:hover {
    background-color: var(--danger);
}

.dark.entry-list {
    background-color: var(--background-dark);
    border: 1px solid var(--white);
}

.dark.entry-list-heading {
    color: var(--text-color-dark);
}

.dark.entry-search {
    background-color: var(--background-dark);
    color: var(--text-dark);
    border: 1px solid var(--border-dark);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dark.search-heading {
    color: var(--white);
}

.dark.entry-title,
.dark.rename-btn {
    background-color: var(--button-background-dark);
    color: var(--white);
}

.dark.rename-btn {
    border-left: 2px solid var(--background-dark);
}

.dark.entry-button {
    background-color: var(--button-background-dark);
    color: var(--white);
}

.dark.entry-button:hover {
    background-color: var(--button-hover-dark);
}

@media (max-width: 2000px) {
    .entry-list {
        transform: translate(-100%, -50%);
    }
}

@media (max-width: 1600px) {
    .entry-list {
        width: 40%;
        transform: translate(-92%, -50%);
    }
}

@media (max-width: 1200px) {
    .entry-list {
        width: 60%;
        transform: translate(-72.5%, -50%);
    }
}

@media (max-width: 800px) {
    .entry-list {
        width: 80%;
        transform: translate(-70%, -50%);
    }
}

@media (max-width: 500px) {
    .rename-btn {
        width: 10%;
        border-left: none;
    }

    .dark.rename-btn {
        width: 10%;
        border-left: none;
    }
}

@media (max-width: 400px) {
    .entry-list {
        width: 90%;
        transform: translate(-67.5%, -50%);
    }
}
