img {
    max-width: 100%;
}

pre {
    background-color: #e5e5e57e;
    padding: 0.75rem;
    border-radius: 2px;
}

blockquote {
    margin-left: 40px;
    border-left: 5px solid #ccc;
    padding: 10px 20px;
    background-color: #f9f9f9;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #eee;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

th {
    padding: 10px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

th,
td {
    border-right: 1px solid #eee; /* Adjust color as needed */
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

table:hover tr:hover {
    background-color: #f2f2f2;
}

.preview-pane {
    padding: 20px;
    max-width: 50%;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.preview-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.preview-info div {
    font-size: 14px;
    color: #999;
}

.preview-content {
    overflow-y: scroll; /* Enable scrolling for longer content */
    overflow-x: scroll;
    max-height: 97%; /* Adjust this value based on your needs */
}

/* Styles for ReactMarkdown content (adjust as needed) */
.preview-content h1,
.preview-content h2,
.preview-content h3,
.preview-content h4,
.preview-content h5,
.preview-content h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.preview-content p {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Dark theme styles */
.dark.preview-pane * {
    color: #E6EDF3; /* All text color*/
}

.dark.preview-pane pre {
    background-color: #44475A;
}

.dark.preview-pane blockquote {
    background-color: #44475A;
}

.dark.preview-pane table {
    border: 1px solid #44475A;
}

.dark.preview-pane th {
    padding: 10px;
    background-color: #30363d;
    border: 1px solid #44475A;
}

.dark.preview-pane td {
    padding: 10px;
    border-bottom: 1px solid #44475A;
}

.dark.preview-pane th,
.dark.preview-pane td {
    border-right: 1px solid #44475A; /* Adjust color as needed */
}

.dark.preview-pane tr:hover {
    background-color: #30363d;
}

.dark.preview-pane tr:nth-child(even) {
    background-color: #30363d;
}

.dark.preview-pane {
    background-color: #0d1117; /* Dark input background color */
}

.dark.preview-info div {
    background-color: #0d1117; /* Dark input background color */
}

.dark.preview-content {
    background-color: #0d1117; /* Dark input background color */
}
