pre {
    background-color: #e5e5e57e;
    padding: 0.75rem;
    border-radius: 2px;
}

blockquote {
    margin-left: 40px;
    border-left: 5px solid #ccc;
    padding: 10px 20px;
    background-color: #f9f9f9;
    font-style: italic;
    line-height: 1.5;
    margin-top: 10px;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #eee;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

th {
    padding: 10px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

th,
td {
    border-right: 1px solid #eee; /* Adjust color as needed */
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

table:hover tr:hover {
    background-color: #f2f2f2;
}

.preview-pane {
    padding: 20px;
    max-width: 50%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e5e7eb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.preview-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.preview-info div {
    font-size: 14px;
    color: #999;
}

.preview-content {
    overflow-y: scroll; /* Enable scrolling for longer content */
    overflow-x: scroll;
    max-height: 97%; /* Adjust this value based on your needs */
}

/* Styles for ReactMarkdown content (adjust as needed) */
.preview-content h1,
.preview-content h2,
.preview-content h3,
.preview-content h4,
.preview-content h5,
.preview-content h6 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.preview-content p {
    margin-top: 0;
    margin-bottom: 10px;
}

/* ... other styles for ReactMarkdown content */
