.homepage-container {
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--background-light);
}

.homepage-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--border-light);
}

.logo {
    max-width: 75px;
    max-height: 75px;
    transform: scale(0.9);
}

.logo:hover {
    cursor: pointer;
    transform: scale(1);
}

.features {
    margin: 2rem 0;
    padding-left: 5px;
}

.features li::before {
    content: "✓";
    margin-right: 0.5rem;
    font-size: 16px;
}

.usage-guide {
    margin: 2rem 0;
    padding: 1rem;
    border: 1px solid var(--border-light);

}

.close-home-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px 7.5px;
    background-color: var(--white);
    border: none;

    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    z-index: 15;
}

.close-home-button:hover {
    background-color: var(--white);
}

/* Base styles for dark mode */
.dark.homepage-container,
.dark.homepage-header,
.dark.homepage-main,
.dark.features,
.dark.usage-guide {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

.dark.close-home-button {
    background-color: var(--button-background-dark);
    color: var(--text-dark);
}

/* Specific element adjustments */
.dark.homepage-header h1,
.dark.homepage-header p {
    color: var(--white);
}

.dark.usage-guide li::before {
    color: var(--white);
}

.dark.close-home-button:hover {
    background-color: var(--button-hover-dark);
}

/* Link styles for dark mode */
.dark a {
    color: var(--white);
}

.dark a:hover {
    color: var(--text-dark);
}

@media only screen and (max-width: 768px) {
    .homepage-container {
        padding: 1rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    .features li::before {
        font-size: 14px;
    }
}
