.error-boundary {
    text-align: center;
    padding: 20px;
    border: 1px solid var(--danger);

    background-color: var(--error-bg);
    color: var(--danger-light);
}

.error-boundary h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.error-boundary pre {
    margin-top: 10px;
    font-family: monospace;
    background-color: var(--white);
    padding: 10px;

    overflow-x: auto;
}

.error-boundary b {
    margin-top: 0;
    font-size: 1.1em;
}

.error-boundary b:hover {
    cursor: pointer;
}
