.app-container {
    margin: 0.5vw;
    display: flex;
    width: 95vw;
    height: 97vh; /* Adjust as needed */
}

pre {
    background-color: #e5e5e57e;
    padding: 0.75rem;
    border-radius: 2px;
}
