body {
    margin: 0;
    padding: 0;
}

.app-container {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex; /* Arrange elements horizontally */
    width: 100vw; /* Fill the entire viewport height */
    min-height: 100vh;
    max-height: 150vh;
}

.app-container > * {
    flex: 1; /* Ensure both nested components take up equal width */
}

.entry-list {
  position: absolute; /* Position relative to the parent */
  top: 0;
  left: 0;
  width: 40%;
  height: 70%;
  display: flex; /* Center content vertically and horizontally */
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure it's above the editor and preview */
}

@media (max-width: 768px) {
    /* Adjust breakpoint as needed */
    .app-container {
        flex-direction: column; /* Stack elements vertically */
    }
}
